<?xml version="1.0" encoding="UTF-8"?>
<widget
	id 			= "com.phonegap.nk12"
	versionCode = "10"
	version     = "0.0.1"
 <name>nk12</name>

<description>
Простое приложение для отправки протоколов на сервер
</description>

<icon src="res/drawable-ldpi/hypnotoad.png" gap:role="default" />

<icon src="res/drawable-ldpi/hypnotoad.png" width="36" height="36"/>
<icon src="res/drawable-ldpi/hypnotoad.png" width="48" height="48"/>
<icon src="res/drawable-ldpi/hypnotoad.png" width="72" height="72"/>

<preference name="prerendered-icon" value="true" />

<preference name="orientation" value="portrait" />

<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/network"/>

</widget>